.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    position: relative;
  }
  
  .content {
    flex: 1; /* This will make the content (Menu) take up the remaining space */
    display: flex; /* Enables flex behavior for the content */
    position: absolute;
    opacity: 0; /* Start with no opacity */
 
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in; /* Smooth transition for opacity and visibility */
}

.fadein {
    opacity: 1; /* Fade in */
    visibility: visible; /* Make it visible */
    pointer-events: auto; /* Enable interaction */
}
  .hidden {
    opacity: 0;
    visibility: hidden; /* Hide the element */
    pointer-events: none; /* Prevent interaction */
  }
  
  .visible {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }